h1 {text-align:center}



#main {
    
    width: 90%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,140,213,1) 43%, rgba(0,212,255,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
